body {
  background: url("../assets/images/background.png") no-repeat fixed center;
  background-size: cover;
  color: white;
  padding: 1rem;
}

a {
  color: white;
}

button {
  background: transparent;
}

.nav,
.left,
.right {
  display: flex;
  margin: 1rem;
}

.nav {
  justify-content: space-between;
  align-items: center;
}

.noMargin {
  margin: 0;
}

.icon {
  width: 3rem;
  height: 3rem;
}
